.ispconfig-block-inline {
    display: inline-block;
    margin-right: 10px;
}

.ispconfig-block-infobox {
    margin-bottom: 0.5em;
    padding: .5em;
    margin-top: 0.5em;
    background: #f3f4f5;
    border: 1px solid rgb(85, 93, 102);
}

.ispconfig-block-field {
    display: inline-block;
    width: 380px;
    padding: .5em;
    margin-bottom: 0.5em;
    background: #f3f4f5;
    vertical-align: top;
    border: 1px solid rgb(85, 93, 102);
}

.ispconfig-block-action {
    display: block;
    margin-right: 10px;
}


.ispconfig-block-field:nth-child(odd) {
    margin-right: 10px;
}

.ispconfig-block-field select {
    width: 165px;
}

.ispconfig-block-field .components-base-control {
    margin-bottom: 0px !important;
}
