/*
*/
form.ispconfig label {
    display: inline-block;
    width: 160px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    white-space: nowrap;
}
div.ispconfig-msg {
    border-style: solid;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    background-color: white;
    font-weight: bold;
    border-color: #F3F3F3;
    border-width: 2px 2px 2px 5px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    padding: 5px 12px;
}
div.ispconfig-msg-success { border-left-color: #46b450 !important; }
div.ispconfig-msg-error { border-left-color: #C3273A !important; }